// Should include any quick fixes and bits of shameful code that have been pushed just to quickly get something working
// Regularly refactor this!



.white-hover {
    background-color: $ship-gray;

    &:hover {
        cursor: pointer;
    }

    .more-link {
        background-color: $ship-gray;
    }

    h2, h3, h4 {
        color: $white;
    }

    p, a {
        color: $white;
    }

    dl, dt, dt {
        color: white;
    }

}

.grey-hover {
    background-color: $ship-gray;

    &:hover {
        cursor: pointer;
    }

    .background--white {
        background-color: $iron-light;
        border-color: $thunder;
    }

    .background--iron-light {
        background-color: $nevada;
        border-color: $thunder;
    }

    .background--gallery {
        background-color: $nevada;
    }

    .background--mercury {
        background-color: $ship-gray;
    }

    .border-top--iron-sm,
    .border-top--iron-md {
        border-color: #323132 !important;
    }

    .box__timeseries {
        background-color: $mercury;
        border-color: $thunder;
    }

    .image-holder {
        border-color: $thunder;
        line-height: 0; // Fix for div being pushed off of grid when inside an element with a line-height

        &:after {
            content: '';
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 999;
            position: absolute;
            background: $silver-light;
        }
    }

    // Invert after color, such as ellipsis
    :after {
        color: white;
    }

    h2, h3, h4 {
        color: $white;
    }

    p, a, dd, dt {
        color: $white;
    }

    ul, li {
        color: $white;
    }

    // used in time series tool CTA
    .icon-arrow-right--dark {
        background-position: -208px -44px;
    }

}


// Right arrow used on time series tool CTA - needs to be added into sprite
.icon-arrow-right--dark {
    background-position: -144px -44px;
    behavior:url(-ms-transform.htc);
    -moz-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
}


// Need a proper location for this. Otherwise code is okay, doesn't need refactoring
.h1--census {
    color: $census;
    font-weight: 600;
}