// ONS Palette
$spring-green: #A8BD3A;
$mint-green: #00A3A6;
$sky-blue: #27A0CC;
$ocean-blue: #206095;
$night-blue: #003C57;

// Mono
$black: #222222;
$grey1: #414042;
$grey2: #707071;
$grey4: #E2E2E3;
$grey5: #F5F5F6;
$white: #fff;

// Supporting Palette
$ruby-red: #D0021B;
$jaffa-orange: #FE781F;
$sun-yellow: #FBC900;
$neon-yellow: #F0F762;
$leaf-green: #0F8243;

// Census
$indigo-blue: #3C388E;
$plum-purple: #902082;
$flamingo-pink: #DF0667;