// mixin for generating background colour classes

@mixin background-util {
    .background {
        @each $colour, $colourcode, $fontcolourcode in $colours {
            &--#{$colour} {
                background-color: $colourcode;
                color: $fontcolourcode;
                a {
                    color: $fontcolourcode;
                }
            }
        }
    }
}

@include background-util;

