//_colours.scss

//Mono:
$thunder: 		#323132;
$ship-gray: 	#414042;
$abbey: 		#58595B;
$nevada:        #6D6E72; //tile hover colour
$aluminium: 	#A6A8AB;
$silver:        #BBBDBF; //tile hover colour
$silver-light:  rgba(187,189,191,0.3); // tile hover colour
$iron: 			#D0D2D3;
$iron-light: 	#E5E6E7;
$mercury: 		#E5E5E5;
$gallery: 		#EAEAEA;
$alabaster:   	#F9F9F9;
$white:			#FFFFFF;

//Colours:
$matisse: 		#206095; //links
$blumine:       #1A4C76; //hover links
$salem:			#0F8243; //active links
$poppy:         #D32F2F; //errors
$beta:			#FF9933; //beta content
$astral:		#3B7A9E;
//$violet:        #5f01ae;
$blue:          #3a7db4;

//Colour types
$primary:       $salem;
$secondary:     $matisse;
//$tertiary:      ;
$active:        $salem;


$colours: (
		//name      	//primary 		//secondary
		("thunder",		#323132, 		#E5E6E7)
		("ship-gray", 	#414042, 		#E5E6E7)
		("abbey", 		#58595B, 		#E5E6E7)
		("nevada", 		#6D6E72, 		#E5E6E7)
		("aluminium", 	#A6A8AB, 		#414042)
		("silver", 		#BBBDBF, 		#414042)
		("iron", 		#D0D2D3, 		#414042)
		("iron-light", 	#E5E6E7, 		#414042)
		("mercury",		#E5E5E5, 		#414042)
		("gallery", 	#EAEAEA, 		#414042)
		("alabaster", 	#F9F9F9, 		#414042)
		("white", 		#FFFFFF, 		#414042)
		("matisse",		#206095, 		#FFFFFF)
		("blumine", 	#1A4C76, 		#FFFFFF)
		("salem",		#0F8243, 		#FFFFFF)
		("poppy", 		#D32F2F, 		#FFFFFF)
		("beta", 		#FF9933, 		#414042)
		("astral", 		#3B7A9E, 		#F0F1F1)
);



@function colour($key) {
  @if map-has-key($colours, $key) {
    @return map-get($colours, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}