//_colours.scss

//Mono:
$thunder: 		#323132;
$ship-gray: 	#414042;
$abbey: 		#58595B;
$nevada:        #6D6E72; //tile hover colour
$aluminium: 	#A6A8AB;
$silver:        #BBBDBF; //tile hover colour
$iron: 			#D0D2D3;
$iron-light: 	#E5E6E7;
$mercury: 		#E5E5E5;
$gallery: 		#EAEAEA;
$alabaster:   	#F9F9F9;
$white:			#FFFFFF;

//Colours:
$matisse: 		#246DAA; //links
$blumine:       #1E5889; //hover links
$salem:			#0F8243; //active links
$poppy:         #D32F2F; //errors
