//height
@mixin height-util {
    .height {
        @for $i from 0 through 60 {
            @include breakpoint(sm) {
                &-sm--#{$i} {
                    height: ($baseline * $i);

                    &-ellipsis {
                        @include multiline-ellipsis(($baseline * $i));
                    }

                    &-indented-ellipsis {
                        @include multiline-ellipsis(($baseline * $i), $col);
                    }
                }
            }
        }
        @for $i from 0 through 60 {
            @include breakpoint(md) {
                &-md--#{$i} {
                    height: ($baseline * $i);

                    &-ellipsis {
                        @include multiline-ellipsis(($baseline * $i));
                    }

                    &-indented-ellipsis {
                        @include multiline-ellipsis(($baseline * $i), $col);
                    }
                }
            }
        }
        @for $i from 0 through 60 {
            @include breakpoint(lg) {
                &-lg--#{$i} {
                    height: ($baseline * $i);

                    &-ellipsis {
                        @include multiline-ellipsis(($baseline * $i));
                    }

                    &-indented-ellipsis {
                        @include multiline-ellipsis(($baseline * $i), $col);
                    }
                }
            }
        }
        @for $i from 0 through 60 {
            &--#{$i} {
                height: ($baseline * $i);

                &-ellipsis {
                    @include multiline-ellipsis(($baseline * $i));
                }

                &-indented-ellipsis {
                    @include multiline-ellipsis(($baseline * $i), $col);
                }
            }
        }
    }
}
@include height-util;

@mixin min-height-util {
    .min-height {
        @for $i from 0 through 60 {
            @include breakpoint(sm) {
                &-sm--#{$i} {
                    min-height: ($baseline * $i);
                }
            }
        }
        @for $i from 0 through 60 {
            @include breakpoint(md) {
                &-md--#{$i} {
                    min-height: ($baseline * $i);
                }
            }
        }
        @for $i from 0 through 60 {
            @include breakpoint(lg) {
                &-lg--#{$i} {
                    min-height: ($baseline * $i);
                }
            }
        }
        @for $i from 0 through 60 { //
            &--#{$i} {
                min-height: ($baseline * $i);
            }
        }
    }
}
@include min-height-util;

@mixin max-height-util {
    .max-height {
        @for $i from 0 through 600 {
            @include breakpoint(md) {
                &-md--#{$i} {
                    max-height: ($baseline * $i);
                }
            }
        }
        @for $i from 0 through 60 { 
            &--#{$i} {
                max-height: ($baseline * $i);
            }
        }
    }
}
@include max-height-util;