//_icons.scss


.icon {
	display: inline-block;
	background:url('../img/icon-sprite.png') no-repeat;
	height: 32px;
	width: 32px;

	&-arrow-up {
		background-position: -17px -11px;

		&--light {
			background-position: -80px -11px;
		}
	}

	&-arrow-down {
		background-position: -17px -44px;

		&--light {
			background-position: -80px -44px;
		}
	}

	&-print {
		background-position: -16px -80px;
		width: 40px; //Should be 32px but compensating for calendar icon being too wide

		&--light {
			background-position: -80px -80px;
			width: 40px; //Should be 32px but compensating for calendar icon being too wide
		}
	}

	//TODO External icon 1px too low
	&-external {
		background-position: -16px -130px;

		&--light {
			background-position: -80px -130px;
		}
	}

	&-download {
		background-position: -16px -178px;

		&--light {
			background-position: -80px -178px;
		}
	}

	//TODO Calendar icon 1px too wide
	&-calendar {
		background-position: -16px -218px;

		&--light {
			background-position: -80px -218px;
		}
	}

	&-rss {
		background-position: -16px -274px;

		&--light {
			background-position: -80px -274px;
		}
	}

	&--hide:after {
		//For use in situations where icons are automatically added but not wanted and a global solution isn't viable
		display: none !important;
	}

}


//Add external link icon (:not excludes domains)
a[href^="http://"]:not([href*="ons.gov.uk"]):not([href^="http://localhost"]):not([href^="http://127.0.0.1"]):after, a[href^="https://"]:not([href*="carboni.uk"]):not([href*="carb.onl"]):not([href*="lifeinteal"]):after {
	@extend .icon;
	@extend .icon-external;
	zoom:0.5;
	-moz-transform:scale(0.5);
	-moz-transform-origin: 0 0;
	content: "";
	margin-left: 8px;
}

