.line-height {
    &--0 {
        line-height: 0 !important;
    }
    &--12 {
        line-height: 12px !important;
    }
    &--14 {
        line-height: 14px !important;
    }
    &--16 {
        line-height: 16px !important;
    }
    &--17 {
        line-height: 17px !important;
    }
    &--19 {
        line-height: 19px !important;
    }
    &--21 {
        line-height: 21px !important;
    }
    &--24 {
        line-height: 24px !important;
    }
    &--30 {
        line-height: 30px !important;
    }
    &--32 {
        line-height: 32px !important;
    }
    &--35 {
        line-height: 35px !important;
    }
}