//_lozenges.scss

.lozenge {

	height: $baseline * 4;
	display: inline-block;
	border: 1px solid $iron;
	//text-transform: capitalize;
	padding: 4px ($col / 2);
	//padding: ($baseline / 2) ($col / 2);
	color: $abbey;
	font-size: 12px;
	//font-size: 14px;
	//font-weight: bold;

}
