// padding mixin

@mixin padding-util {
    .padding {
        @for $i from 0 through 24 {
            //
            &-top {
                &--#{$i} {
                    padding-top: ($baseline * $i) !important;
                }
                @include breakpoint(lg) {
                    &-lg--#{$i} {
                        padding-top: ($baseline * $i) !important;
                    }
                }
                @include breakpoint(md) {
                    &-md--#{$i} {
                        padding-top: ($baseline * $i) !important;
                    }
                }
                @include breakpoint(sm) {
                    &-sm--#{$i} {
                        padding-top: ($baseline * $i) !important;
                    }
                }
            }
            &-bottom {
                &--#{$i} {
                    padding-bottom: ($baseline * $i) !important;
                }
                @include breakpoint(lg) {
                    &-lg--#{$i} {
                        padding-bottom: ($baseline * $i) !important;
                    }
                }
                @include breakpoint(md) {
                    &-md--#{$i} {
                        padding-bottom: ($baseline * $i) !important;
                    }
                }
                @include breakpoint(sm) {
                    &-sm--#{$i} {
                        padding-bottom: ($baseline * $i) !important;
                    }
                }
            }
        }

        @for $i from 0 through 59 {
            //
            &-left {
                &--#{$i} {
                    padding-left: ($baseline * $i) !important;
                }
                @include breakpoint(lg) {
                    &-lg--#{$i} {
                        padding-left: ($col * $i) !important;
                    }
                }
                @include breakpoint(md) {
                    &-md--#{$i} {
                        padding-left: ($col * $i) !important;
                    }
                }
                @include breakpoint(sm) {
                    &-sm--#{$i} {
                        padding-left: ($col * $i) !important;
                    }
                }
            }
            &-right {
                &--#{$i} {
                    padding-right: ($baseline * $i) !important;
                }
                @include breakpoint(lg) {
                    &-lg--#{$i} {
                        padding-right: ($col * $i) !important;
                    }
                }
                @include breakpoint(md) {
                    &-md--#{$i} {
                        padding-right: ($col * $i) !important;
                    }
                }
                @include breakpoint(sm) {
                    &-sm--#{$i} {
                        padding-right: ($col * $i) !important;
                    }
                }
            }
        }
    }
}

@include padding-util;