//_utilities.scss

.visuallyhidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}


// margins

.margin {

	&-top {
		margin-top: ($baseline * 2) !important;

		&--half {
			margin-top: ($baseline) !important;
		}
	}

	&-right {
		margin-right: $col !important;

		&--half {
			margin-right: ($col / 2) !important;
		}
	}

	&-bottom {
		margin-bottom: ($baseline * 2) !important;

		&--half {
			margin-bottom: ($baseline) !important;
		}
	}

	&-left {
		margin-left: $col !important;

		&--half {
			margin-left: ($col / 2) !important;
		}
	}

}

.flush {
	margin: 0 !important;
}

.flush-col {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.flush-bottom {
	margin-bottom: 0 !important;
}

.flush-top {
	margin-top: 0 !important;
}


// padding

.padding {

	&-top {
		padding-top: ($baseline * 2) !important;

		&--half {
			padding-top: ($baseline) !important;
		}
	}

	&-right {
		padding-right: $col !important;

		&--half {
			padding-right: ($col / 2) !important;
		}
	}

	&-bottom {
		padding-bottom: ($baseline * 2) !important;

		&--half {
			padding-bottom: ($baseline) !important;
		}
	}

	&-left {
		padding-left: $col !important;

		&--half {
			padding-left: ($col / 2) !important;
		}
	}
}


// display

.inline {
	display: inline !important;
}

.hide {
	display: none !important;

	&--mobile {
		@include breakpoint(sm) {
			display: none !important;
		}
	}
}


// float

.float-right {
	float: right !important;
}

.float-left {
	float: left !important
}


// javascript

.no-js .nojs-hidden, .nojs-hidden {
  display: none !important;
}

.js .js-hidden, .js-hidden  {
  display: none !important;
}


// clear

.clear-left {
	clear: left !important;
}

.clear-right {
	clear: right !important;
}
