//_utilities.scss

.visuallyhidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

// margins
.margin-top {
	margin-top: ($baseline * 2) !important;
}

.margin-right {
	margin-right: $col !important;
}

.margin-bottom {
	margin-bottom: ($baseline * 2) !important;
}

.margin-left {
	margin-left: $col !important;
}

.flush {
	margin: 0 !important;
}

.flush-col {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.flush-bottom {
	margin-bottom: 0 !important;
}

.flush-top {
	margin-top: 0 !important;
}
