//_accordions.scss

.js .accordion {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-bottom: 2px solid $iron;
	margin-bottom: -2px;
	padding-bottom: 0;

	//Keeping 'title' so JS from old PL still works. Should be element; heading
	&__title {
		margin: 0;
		padding: 11px 0 13px 0;
		cursor: pointer;
		cursor: hand; //IE8 fix
	}

	&__icon {
		float: right;
	}

	&:first-of-type {
    	border-top: 2px solid $iron;
    	margin-top: ($baseline * 2)-2px;
  	}

  	&:last-of-type {
  		margin-bottom: $baseline * 2;
  	}

  	&.is-collapsed {

  		.accordion__content,
		.icon-arrow-up {
			display: none;
		}

		.icon-arrow-down {
			display: block;
			float: right;
		}
	}

	&.is-expanded {

		.accordion__content {
			display: block;
		}

		.icon-arrow-up {
			display: block;
			float: right;
		}
		
		.icon-arrow-down {
			display: none;
		}

	}

}