//_alert.scss

.alert {
	background-color: $abbey;
	padding: ($baseline * 2) 0 ($baseline * 3) 0;
  	color:	$iron-light;

	@media print {
		display: none;
	}

  	&__title {
		font-size: 21px;
		line-height: 24px;
		margin-top: 0;
		margin-bottom: ($baseline * 1);
		padding: 3px 0 5px 0;
	}

	&__content {
		font-size: 14px;
	  	margin: 0;
	}
}