//_alert.scss

.alert {
	background: $abbey;
	padding: ($baseline * 2) 0 ($baseline * 3) 0;

	&__content {
		font-size: 21px;
		line-height: 24px;
		color:	$iron-light;
		margin-top: 0;
		margin-bottom: ($baseline * 1);
		padding: 3px 0 5px 0;
	}
}