.banner {
    background-color: $astral;
    color: $white;

    &__icon {
        vertical-align: middle;
        position: relative;
        top: -2px;

        @include breakpoint(sm) {
            display: none;
        }
    }

    &__text-icon {
        background-color: $ship-grey;
        color: $iron-light;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px 8px;
        font-size: 16px;
        position: relative;
        top: -2px;

        @include breakpoint(sm) {
            display: block;
            float: left;
            margin-top: 8px;
            margin-right: 8px;
        }
    }

    &__body {
        display: inline-block;
        padding-bottom: $baseline;
        
        @include breakpoint(md) {
            padding-top: $baseline;
            margin-left: $col;
        }
    }

    @media print {
        display: none;
    }

    p {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 3px;
        font-size: 16px;

        & > a {
            color: $white;
            text-decoration: underline;

            &:focus {
                background-color: $white;
                color: $base-text-colour;
            }
        }
    }

       
}