.banner {
    background-color: $white;

    &--carrot {
        background-color: $carrot;
        color: $white;
    }

    &--bottom-border {
        border-bottom: 1px solid $iron;
    }

    &--no-border {
        border-bottom: none;
    }

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        margin-left: 16px;
        @include breakpoint(sm) {
            display: block;
        }
    }

    &__icon {
        vertical-align: middle;
        position: relative;

        @include breakpoint(sm) {
            display: none;
        }
    }

    &__text-icon {
        background-color: $matisse;
        color: $iron-light;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px 8px;
        font-size: 16px;
        position: relative;
        top: 50%;

        @include breakpoint(sm) {
            display: block;
            float: left;
            margin-right: 8px;
            transform: translateY(50%);
        }
    }

    &__body {
        display: flex;
        display: -ms-flexbox;
        padding-bottom: $baseline;
        
        @include breakpoint(md) {
            display: inline-block;
            padding-top: $baseline;
            margin-left: $col;
        }
    }

    @media print {
        display: none;
    }

    p {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 3px;
        font-size: 16px;

        & > a {
            text-decoration: underline;

            &:focus {
                color: $base-text-colour;
            }
        }
    }
}