//_breadcrumb.scss

.breadcrumb {
	// font-size: 14px;
	// line-height: 24px;
	padding: ($baseline * 2) 0 (($baseline * 1) - 1) 0;
	border-bottom: 1px solid $iron;
	clear:both;
	@include breakpoint(sm) {
		padding: $baseline 0 (($baseline * 2) - 1) 0;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: inline-block;
		margin: 0 8px 0 0;
		padding: 6px 0 10px 0;

		@include breakpoint(sm) {
			line-height: 16px;
			padding: 10px 0 6px 0;
		}

		&:after {
			content: '>';
			padding-left: 8px;
		}

		&:last-child:after {
			content: '';
			padding: 0;
		}

		&--ellipsis {
			display: inline-block;
			margin: 0 8px 0 0;
			padding: 6px 0 10px 0;

			@include breakpoint(sm) {
				line-height: 16px;
				padding: 10px 0 6px 0;
			}

			&:after {
				content: '...';
				padding: 0px 0 0 8px;
			}

			&:last-child:after {
				content: '';
				padding: 0px 0 0 0px;
			}
		}
	}
}

.breadcrumb-neutral {
	padding: ($baseline * 2) 0 ($baseline * 1) 0;

	@include breakpoint(sm) {
		padding: $baseline 0 ($baseline * 2) 0;
	}


	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: inline-block;
		margin: 0 8px 0 0;
		padding: 6px 0 10px 0;

		@include breakpoint(sm) {
			line-height: 16px;
			padding: 10px 0 6px 0;
		}

		&:after {
			content: '>';
			padding-left: 8px;
		}

		&:last-child:after {
			content: '';
			padding: 0;
		}
	}
}

.breadcrumb-bulletins {
	margin: ($baseline * 2) 0 0 0;
	clear:both;

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: inline-block;
		margin: 0;
		padding: 0;

		span {//breadcrumb > icon
			opacity: 0.6;
		}

		@include breakpoint(sm) {
			line-height: 16px;
			display: none;


			&:nth-last-child(2) {
				display: inline-block;
			}
		}

		&:last-child:after {
			content: '';
			padding: 0;
		}

		&--ellipsis {
			display: inline-block;
			margin: 0 8px 0 0;

			@include breakpoint(sm) {
				line-height: 16px;
			}

			&:after {
				content: '...';
				padding: 0 8px 0 0;
			}

			&:last-child:after {
				content: '';
				padding: 0;
			}
		}
	}
	&__link {
		color: white;
	}
}
