/* Styling for jquery.minical.js plugin */

ul.minical {
    position: absolute;
    display: none;
    color: $ship-grey;
    background: $iron-light;
    margin: 0;
    padding: 0;
    text-shadow: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    z-index: 9327;
    font-size: 14px;

    &.minical-inline {
        position: static;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        article {
            float: left;
            width: 100%;
            header {
                background: transparentize($aluminium, 0.5);
                color: $ship-grey;
                border: 1px solid $aluminium;
                position: relative;
                h5 {
                    font-size: 14px;
                    text-align: center;
                    padding: 6px 0 2px 0;
                    margin: $baseline 0;
                }
                a {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: ($baseline * 6);
                    width: ($col * 2);
                    font-size: 2px;
                    color: inherit;
                    &.minical_prev {
                        &:after {
                            content: "";
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-right: 6px solid $thunder;
                            position: absolute;
                            left: 5px;
                            top: 19px;
                        }
                    }
                    &.minical_next {
                        left: auto;
                        right: 0;
                        &:after {
                            content: "";
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-left: 6px solid $thunder;
                            position: absolute;
                            right: 5px;
                            top: 19px;
                        }
                    }
                }
            }
            section {
                margin-bottom: 0;
                padding: 0;
                div.minical_clear {
                    text-align: center;

                    a {
                        background-color: $matisse;
                        color: $white;
                        display: inline-block;
                        padding: 0 8px;
                        font-size: 12px;
                        height: ($baseline * 3);
                        width: ($col * 5);
                        margin: ($baseline * 2) 0;

                        &:hover,
                        &:focus {
                            text-decoration: none;
                            background-color: $blumine;
                        }
                    }
                }
                table {
                    width: 100%;
                    color: inherit;
                    font-size: inherit;
                    border-collapse: collapse;
                    thead {
                        tr {
                            th {
                                padding: 5px 0 0 0;
                                font-size: 0.7em;
                                font-weight: bold;
                                color: $ship-grey;
                                text-align: center;
                                border-bottom: 1px solid transparentize($aluminium, 0.5);
                            }
                        }
                    }
                    tbody {
                        tr {

                            border-left: 1px solid transparentize($aluminium, 0.5);

                            td {
                                padding: 0;
                                text-align: right;
                                font-size: 12px;
                                a {
                                    height: ($baseline * 4);
                                    width: ($baseline * 4);
                                    display: block;
                                    border-right: 1px solid transparentize($aluminium, 0.5);
                                    border-bottom: 1px solid transparentize($aluminium, 0.5);
                                    color: $ship-grey;
                                    padding: 4px 4px 4px 4px;
                                    text-decoration: none;
                                    position: relative;
                                    text-align: center;
                                }
                                &.minical_highlighted a {
                                    background-color: transparentize($active, 0.5);
                                    color: $ship-grey;
                                }
                                &.minical_selected a {
                                    background: $active;
                                    color: $iron-light;
                                }
                                &.minical_past_month a,
                                &.minical_future_month a {
                                    color: transparentize($ship-grey, 0.5);
                                }
                                &.minical_today a:after {
                                    content: '';
                                    position: absolute;
                                    border-top: 8px solid $thunder;
                                    border-left: 8px solid transparent;
                                    top: 0;
                                    right: -1px;
                                }
                                &.minical_disabled a {
                                    color: transparentize($ship-grey, 0.5);
                                    background: transparentize($aluminium, 0.8);
                                    border-color: transparentize($aluminium, 0.8);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
