// Filter Selection (Shopping basket) & Filter Overview

.filter-selection {
  &__header {
    background: $gallery;
    padding:15px;

    h2 {
      font-size: 20px;
      margin: 0;
      padding:0;
      display: inline-block;
    }
    a {
      float:right;
      text-align: right;
      padding:0;
    }
  }

  ul {
    border-left: 1px solid $gallery;
    border-right: 1px solid $gallery;
    margin: 0;
    li {
      border-bottom: 1px solid $gallery;
      padding: 15px;
      margin: 0;
      overflow: hidden;
      span {
        float: left;
      }
      @include breakpoint(md) {
        span.remove-link {
          float:right;
          text-align: right;
          padding-left: 10px;
        }
      }
    }
  }
}

.filter-overview {
  &__error {
    border-left: thick solid $poppy;
  }
  &__add {
    border-left: thick solid $blumine;
  }

  @include breakpoint(md) {
    li {
      &:not(:first-child) {
        position: relative;
      }
      div:first-child {
        padding-left:$col;
        padding-right:$col;
      }
    }
  }
  @include breakpoint(lg) {
    div:last-child {
      padding-right:$col;
    }
  }

  &__error-container{
      position: relative;
      @include breakpoint(sm) {
        min-height:30px;
      }

  }

  &__error-message{
      left: 0;
      top: -35px;
  }
}

// This is to add a small top padding to the icon on the hierarchy "browse" link
.view-link div {
  padding-top:4px;
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.1em, $lineCount: 3, $bgColor: white);  
}
