//_filters.scss

.filters {

    &__title:not(:first-child) {
        margin-top: $baseline * 2;
    }


    &__field {
        //padding: 7px 0 1px 0;
        margin-bottom: $baseline;
    }



}

.sort-results {
    //padding: 14px 0 1px 0;
    //height: ($baseline * 7);
    margin: $baseline 0;

    @include breakpoint(md) {
        padding: 12px 0 1px 0;
        height: ($baseline * 7);
    }

}
