//_filters.scss

.filters {

    padding: 2px 0 6px 0;

    &__title {
        margin: 0;
    }


    &__field {
        padding: 7px 0 1px 0;
    }


}

.sort-results {
    padding: 14px 0 1px 0;
    height: ($baseline * 7);

}
