//footer.scss

.footer {
	background-color: $ship-grey;
	color: $iron-light;

	&--sticky {
		bottom: 0;
		width: 100%;
	}

	a {
		color: $quartz;
		text-decoration: underline;

		&:hover {
			color: $white;
		}
		&:focus {
			color: $base-text-colour;
			background-color: $white;
		}

	}

	&-nav {
		padding: 0 0 $col*2.5 0;

		&__heading {
			margin-top: ($baseline * 4);
			margin-bottom: 0;
			font-size: 24px;
			font-weight: 800;
			line-height: 1.33;
			color: $quartz;
		}

		&__list {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		&__item {
			margin: 0;
			padding: 6px 0 2px 0;
			font-size: 18px;
			color: $quartz;
		}

	}

	&-license {
		border-top: 1px solid $silver;
		padding: $col*2 0 $col 0;

		&__img {
			display: inline-block;
		}

		&__text {
			display: inline-block;
			margin: $col 0 $col $col;
			font-size: 18px;
			vertical-align: super;
		}
	}
}
