.form{
    &-control{
        width: 100%;
        opacity: 1;
        -webkit-appearance: none;
        border-radius: 0;
        background-image: none;
        box-sizing: border-box;
        font-weight: 400;
        text-transform: none;
        font-size: 16px;
        line-height: 1.25;
        padding: 5px 4px 4px;
        border: 2px solid #0b0c0c;
        margin-bottom: 40px;
        outline-color: #ffbf47;

        &__inline{
            width: 70%;
        }

        &__error {
            -webkit-box-shadow: 0 0 0 2px #ffbf47;
            -moz-box-shadow: 0 0 0 2px #ffbf47;
            box-shadow: 0 0 0 2px #ffbf47;
        }

    }

    &-control:focus{
        -webkit-box-shadow: 0 0 0 3px #ffbf47;
        -moz-box-shadow: 0 0 0 3px #ffbf47;
        box-shadow: 0 0 0 3px #ffbf47;
    }

    &-hint{
        text-transform: none;
        display: block;
        color: #6f777b;
        font-weight: normal;
    }

}