// _header.scss

.background--banner {
	background-color: #F93;
}

.primary-nav {

	background-color: $abbey;
	border-top: 1px solid $thunder;
	margin-top: -1px;	//compensate for border-top
	

	&__list {
		list-style: none;
		padding-left: 0;
		margin: 0;
		overflow: hidden;
	}

	&__item {
		margin: 0;
		padding: 0;
		float: left;
		cursor: pointer;

		&:last-child .primary-nav__link {
			border-right: 1px solid $thunder;
		}

		//children show on hover
		&:hover > .primary-nav__child-list {
			display: block;
			top: 136px;
		}

		//set hover styling
		&:hover > a {
			background-color: $iron-light;
			color: $abbey;
			text-decoration: none;
		}
		&:hover > ul, &:focus > ul {
			background-color: $iron-light;
			color: $abbey;
			text-decoration: none;
			border-left: 1px solid $iron;
			border-right: 1px solid $iron;
			border-bottom: 1px solid $iron;
		}
		
	}

	&__link {
		color: $iron-light;
		text-decoration: none;
		display: inline-block;
		padding: 7px $col 8px $col;
		border-left: 1px solid $thunder;

		@include breakpoint(md) {
			height: $baseline * 14;
		}

		@include breakpoint(lg) {
			height: $baseline * 8;
		}

		&:hover {
			border-left: 1px solid $iron;
		}
		
	}

	&__active {
		background-color: $thunder;
	}

	//TODO clean up or remove this content from HTML
	&__secondary-content {
		display: none;
	}

	
	
	//NAVIGATION CHILDREN

	&__child-list {
		list-style: none;
		color: $white;
		display: none;
		position: absolute;
		padding: 0;
		z-index: 10;
		//left: -99999px; //possibly use instead of display:none - accessible to screen readers
	}

	&__child-item {

		&:hover {
			background-color: $iron;
			color: $abbey;
			text-decoration: none;
		}
	}

	&__child-link {
		background-color: $iron-light;
		color: $abbey;
	}

}

.search {

	border-top: 1px solid $thunder;
	margin-top: -1px;	//compensate for border-top
	background-color: $ship-gray;
	font-size: 17px;
	
	&__form {
		color: $iron-light;
		padding: $col*1.5 0 $col*1.5 $col;
	}

	&__label {
		padding: 12px $col 12px $col;
		background-color: $abbey;
	}

	&__input {
		font-size: 17px;
		border: none;
		padding: 14px $col 14px $col;
	}

	&__button {
		font-size: 17px;
		border: none;
		padding: 14px $col 14px $col;
		background-color: $mercury;
	}

}