// _header.scss


// PRIMARY NAVIGATION

.primary-nav {

	background-color: $abbey;

	@include breakpoint(sm) {
		border-top: 1px solid $thunder;
		margin-top: -1px;
	}

	@include breakpoint(md) {
		border-top: 1px solid $thunder;
		margin-top: -1px;	//compensate for border-top
		height: 113px;
	}

	@include breakpoint(lg) {
		height: 65px;
	}
	

	&__list {
		list-style: none;
		padding-left: 0;
		margin: 0;
		overflow: hidden;

		@include breakpoint(sm) {
			padding: 0 0 $baseline 0;
		}
	}

	&__item {
		margin: 0;
		padding: 0;
		cursor: pointer;
		cursor: hand; //IE8 support

		@include breakpoint(md) {
			//border-left: 1px solid $thunder;
			//margin-left: -1px; //compensate for border-left
			float: left;
			height: ($baseline * 14);

				&:last-child a {
				border-right: 1px solid $thunder;
			}
		}

		@include breakpoint(lg) {
			height: ($baseline * 8);
		}


		//children show on hover
		&:hover > ul, &:focus > ul {

			@include breakpoint(md) {
				// background-color: $iron-light;
				// color: $abbey;
				background-color: $thunder;
				color: $iron-light;
				text-decoration: none;
				left: auto; //resets child-items to appear on-screen
				top: 224px;
			}

			@include breakpoint(lg) {
				top: 176px;	
			}
		}


		//set hover styling
		&:hover > a, &:focus > a {
			@include breakpoint(md) {
				border-left: 1px solid $thunder;
				background-color: $thunder;
				color: $iron-light;
				text-decoration: none;
			}
		}

		&--active {
			@include breakpoint(sm) {
				& > a {
					background-color: $salem;
				}
			}

			@include breakpoint(md) {
				background-color: $salem;
				border-bottom: 1px solid $thunder;
			}

			& > a {
				color: $iron-light;
			}
		}

	}

	&__link {
		color: $iron-light;
		text-decoration: none;

		@include breakpoint(sm) {
			height: 48px;
			padding: 14px 0 10px $col;
			//margin: $baseline 0 $baseline 0;

			// &:last-child {
			// 	margin: $baseline/2 0 $baseline/2 0;
			// }
		}

		@include breakpoint(md) {
			display: inline-block;
			padding: 7px $baseline*2 8px $baseline*2;
			border-left: 1px solid $thunder;
			height: $baseline * 14;
		}

		@include breakpoint(lg) {
			height: $baseline * 8;
		}

	}

	

	
	//NAVIGATION CHILDREN

	&__child-list {
		list-style: none;
		color: $white;
		margin: 0;

		@include breakpoint(sm) {
			// position: absolute;
			// left: -99999px;
			//display: none; //done with js-nav-hidden class
			background-color: $ship-gray;
			padding: 0;
		}

		@include breakpoint(md) {
			//display: none;
			position: absolute;
			padding: 0;
			z-index: 10;
			left: -99999px; //used instead of display:none so it's accessible to screen readers
			border-left: 1px solid $thunder;
			border-right: 1px solid $thunder;
			border-bottom: 1px solid $thunder;
		}
	}

	&__child-item {
		display: block;
		margin: 0;
		padding: 0;

		@include breakpoint(md) {
		
			&:hover {
				background-color: $iron;

				& > a {
					color: $abbey;
				}
			}
		}

		&--active {
			background-color: $salem;
		}
	}

	&__child-link {
		display: block;
		color: $iron-light;

		@include breakpoint(sm) {
			height: 48px;
			//border-bottom: 1px solid $thunder;
			padding: 14px 0 12px $col;
			//margin: $baseline 0 $baseline 0;
		}

		@include breakpoint(md) {
			//height: $baseline * 5;
			padding: 15px 0 9px $col;

			&:hover {
				text-decoration: none;
			}
		}
	}
}


//JQUERY EXPANDABLE MOBILE MENU - temporary until we write our own JS in new library

.js-nav-hidden {
	@include breakpoint(sm) {
		display: none;
	}
}

.js-expandable-active {
	@include breakpoint(sm) {
		& > a {
			background-color: $thunder;
			//border-bottom: 1px solid $thunder;
		}

		& > ul {
			display: block;
		}
	}
}

.nav__top-level-duplicate {
	@extend .primary-nav__child-item;

	& > a {
		@extend .primary-nav__child-link;
	}
}

//Add plus symbol - class used for JS too
.js-expandable {
	@include breakpoint(sm) {
		& > a {
			&:before {
				position: absolute;
				color: $iron-light;
				content: '+';
				left: $col;
			}
		}

		&-active {
			& > a {
				&:before {
					position: absolute;
					color: $iron-light;
					content: '-';
					left: $col;
				}
			}
		}
	}
}


//Menu and search controls - TODO rewrite with mobile
.nav--controls {
	list-style: none;
	margin: 0;
	padding: 0;

	@include breakpoint(md) {
		display: none;
	}

	&__item {
		padding: 0;
		margin: 0;
	}

	&__menu {
		background-color: $ship-gray;
		font-size: 17px;
		float: left;
		width: 50%;
		//padding-left: $col;
		padding: $baseline*2 $col;
		color: $iron-light;
		border-right: 1px solid $thunder;
	}

	&__search {
		background-color: $ship-gray;
		font-size: 17px;
		float: left;
		width: 50%;
		//padding-left: $col;
		padding: $baseline*2 $col;
		color: $iron-light;
		// border-bottom: 1px solid $ship-gray;
		// margin-bottom: -1px;
	}
}

.menu-is-expanded {
	& > a {
		background-color: $abbey;
	}
}

.search-is-expanded {
	& > a {
		background-color: $abbey;
	}
}

.nav-main--hidden {
	@include breakpoint(sm) {
		display: none;
	}
}

.nav-search--hidden {
	@include breakpoint(sm) {
		display: none;
	}
}


//SEARCH

.search {

	border-top: 1px solid $thunder;
	margin-top: -1px;	//compensate for border-top
	background-color: $ship-gray;
	font-size: 21px;
	// height: 65px;

	@include breakpoint(sm) {
		background-color: $abbey;
	}

	@include breakpoint(md) {
		height: 97px;
	}

	@include breakpoint(lg) {
		height: 97px;
	}
	
	&__form {
		font-family: $base-font-family;
		font-weight: $base-font-weight;
		line-height: $base-line-height;
		color: $iron-light;
		padding: $baseline*3 0 $baseline*3 $baseline*2;

		@include breakpoint(sm) {
			padding: $baseline 0;
		}
	}

	&__label {
		font-family: $base-font-family;
		font-weight: $base-font-weight;
		line-height: $base-line-height;
		font-size: 21px;
		color: $iron-light;
		padding: 12px $col 12px $col;
		background-color: $abbey;

		@include breakpoint(sm) {
			display: none;
		}
	}

	&__input {
		font-family: $base-font-family;
		font-weight: $base-font-weight;
		line-height: $base-line-height;
		font-style: italic;
		font-size: 21px;
		color: $ship-gray;
		border: none;
		padding: 12px $col 8px $col;
		height: ($baseline * 6);

		@include breakpoint(sm) {
			width: 75%;
			font-size: 17px;
		}
	}

	&__button {
		font-family: $base-font-family;
		font-weight: $base-font-weight;
		line-height: $base-line-height;
		font-size: 21px;
		color: $iron-light;
		border: none;
		padding: 12px $col 12px $col;
		background-color: $matisse;

		@include breakpoint(sm) {
			width: 25%;
			font-size: 17px;
		}
	}

	&__icon {
		//TODO add icon
	}

}


// BETA BANNER

.beta-banner {
	background-color: #F93;

	&__para {
		margin: 0;
		padding: 7px 0 9px 0;
	}

}


// HEADER - LOGO, LANGUAGE SELECTION AND SECONDARY NAV LINKS

// Header
.header {
	padding: 14px 0 10px 0;
}

// Logo
.main-logo {
	display: block;

	@include breakpoint(sm) {
		height: 48px;
		padding: 2px 0 6px 0; //off-grid on mobile otherwise
	}

	@include breakpoint(md) {
		height: 39px;
	    margin-top: 2px;
		//width: 246px;
	}
}


// Language selection
.language {
	
	&__form {
		@include breakpoint(sm){
			padding-top: $baseline;
		}

		@include breakpoint(md) {
			float: right;
		}
	}

	&__select {
		border: 0;
		background: $mercury;
		// -webkit-appearance: none;
		// -webkit-border-radius: 0px;
	}
}


// Seconday navigation list
.secondary-nav {

	@include breakpoint(sm) {
		display: none;
	}

	&__list {
		float: right;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__item {
		//display: inline-block;
		float: left;
		margin: 0;
		padding: 0;

		&:last-child a {
			padding-right: 0px;
			border-right: 0px solid;
		}

	}

	&__link {
		padding: 0 8px 0 8px;
		border-right: 1px solid $iron-light;
	}

}