// _tabs.scss

.tab {

    //@include breakpoint(md){
	//	margin-top: ($baseline *6);
	//}

    border-bottom: 1px solid $iron;
    margin-bottom: -1px;

    &__item {

        font-size: 21px;
        padding: 21px 0 0 0;
        height: ($baseline * 8);
        //margin-right: $col;
        display: block;


        &:hover,
        &:focus {
            cursor: pointer;
            border-bottom: 8px solid $iron;
            //background-color: $iron-light;
            text-decoration: none;
        }

        &--active {

            border-bottom: 8px solid $salem;
            color: $abbey;
            //padding: 21px 0 0 0;

            &:hover,
            &:focus {
                cursor: default;
                //background-color: $white;
                border-bottom: 8px solid $salem;
            }


        }


    }


}
