// _tabs.scss

.tab {

    //@include breakpoint(md){
	//	margin-top: ($baseline *6);
	//}

    //border-bottom: 1px solid $iron;
    //margin-bottom: -1px;
    //background: $ship-gray;

    &__item {
        margin: 0;
        vertical-align: bottom;
        display: inline-block;
    }

    &__link {

        font-size: 21px;
        //padding: 21px 0 0 0;
        height: ($baseline * 6);
        background: $aluminium;
        color: $ship-gray;
        padding: 13px $col 11px $col;
        margin: 0;
        //margin-right: $col;
        display: block;

        &:hover,
        &:focus {
            cursor: pointer;
            //border-bottom: 8px solid $iron;
            //background-color: $iron-light;
            text-decoration: none;
        }

        &--active {

            //border-bottom: 8px solid $active;
            //color: $abbey;
            padding: 21px $col 11px $col;
            background: $white;
            color: $ship-gray;
            height: ($baseline * 7);
            //padding: 21px 0 0 0;

            &:hover,
            &:focus {
                cursor: default;
                //background-color: $white;
                //border-bottom: 8px solid $active;
            }


        }


    }


}
