// _tabs.scss

.tab {

    @include breakpoint(md){
		margin-top: ($baseline *6);
	}

    &__item {

        font-size: 17px;
        padding: 21px $col 0 $col;
        height: ($baseline * 8);
        //margin-right: $col;
        display: block;


        &:hover,
        &:focus {
            cursor: pointer;
            //border-bottom: 8px solid $abbey;
            background-color: $iron-light;
            text-decoration: none;
        }

        &--active {

            border-bottom: 8px solid $salem;
            color: $abbey;
            padding: 21px 0 0 0;

            &:hover,
            &:focus {
                cursor: default;
                background-color: $white;
            }


        }


    }


}
