.select {
    background-color: white;
    border: 1px solid $iron;
}

@if $old-ie != true {
	.select-alt{
		position: relative;
		display: inline-block;
		border: 2px solid $thunder;
		.select {
			font-size: 16px;
			border: none;
			@include border-radius(0);
			padding: 5px;
			outline:none;
			&:focus {
					outline: 3px solid $carrot;
			}
		}
	}
}