//_buttons.scss

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  width: auto;

  background-color: $matisse;
  padding: 7px $col 9px $col;
  color: $white;
  border: 0 none;
  text-align: center;
  text-decoration: none;

  &--full-width {
    padding: 15px $col 17px $col;
    display: block;

  }

}
