//_buttons.scss

button {
  cursor: pointer;
}

.btn {
  font-family: $base-font-family;
  font-size: 14px;
  display: inline-block;
  width: auto;
  cursor: pointer;
  background-color: $matisse;
  padding: 7px $col 9px $col;
  color: $white;
  border: 0 none;
  text-align: center;
  text-decoration: none;


  &--secondary {
    color: $white;
    background-color: $abbey;


    &:hover,
    &:focus {
      color: $white;
      background-color: $thunder;
    }


      &--active {
        background-color: $salem;

        &,
        &:visited,
        &:hover {
            background-color: $salem;
            cursor: default;
        }

        &:hover,
        &:focus {
          // background: darken($grey-light, 20%);
          // background: radial-gradient(ellipse at center, darken(#d5d6d2, 10%) 0%, darken(#c8c9c4, 10%) 100%);
        }
      }
      &--disabled,
      &--disabled:hover {
        color: $abbey;
        background-color: $iron;
        cursor: default;
      }
  }

  &--small {
      font-size: 12px;
  }

  &--thin {
      padding-top: 0;
      padding-bottom: 0;
  }

  &--thick{
      padding-top: 11px;
      padding-bottom: 13px;
  }
  &--narrow {
      padding-left: ($col / 2);
      padding-right: ($col / 2);
  }

  &--wide{
      width: $col * 16;
  }

  &--full-width {
    padding: 15px $col 17px $col;
    display: block;
  }

  &--chart-control {
      width: ($col * 4);
      padding: 0;
      font-size: 12px;

      @include breakpoint(lg) {
          width: ($col * 6);
      }

      &--all {
          width: ($col * 5);
      }

  }

  &--block {
    display: block;
  }

}



// .btn--primary {
//   font-family: $font-bold;
//   color: $white;
//   background: $link-color;
//
//   &:visited {
//     color: $white;
//   }
//
//   &:hover,
//   &:focus {
//     color: $white;
//     background-color: darken($link-color, 12.5%);
//   }
//
//   &:focus {
//     box-shadow: 0 0 9px 3px $orange;
//   }
// }





.btn-group {


  .btn {
    float: left;
    margin: 0;
    border-right: 1px solid $iron;

    &:last-child {
        border: none;
    }

    }

    input {
        display: none;
    }
}
