////////////////////////////////////
//      dp-table-renderer start   //
////////////////////////////////////

// please note that these styles are also included in the css for florence
// to support preview in the table builder modal window
.figure .align-right {
    text-align: right
}
.figure .align-left {
    text-align: left
}
.figure .align-center {
    text-align: center
}
.figure .align-justify {
    text-align: justify
}
.figure .align-top {
    vertical-align: top
}
.figure .align-middle {
    vertical-align: middle
}
.figure .align-bottom {
    vertical-align: bottom
}

.figure {
    max-width: 940px;
    margin: 0;
}

.table__caption {
    font-size: 125%;
    font-weight: bold;
    line-height: 24px;
    margin: 16px 0;
    padding: 5px 0 3px 0;
}

.table__subtitle {
    font-size: 90%;
}

.table th, 
.table td {
    vertical-align: top;
    line-height: 1.3;
    padding: .8em 1em .8em 0;
    border-bottom: 1px solid #D0D2D3;
}

.table .table__header-row th,
.table .table__header-row td {
    vertical-align: bottom;
    border-top: 3px solid #D0D2D3;
    border-bottom: 3px solid #D0D2D3;
}

.table__nowrap {
    white-space: nowrap;
}

.footnote__link {
    vertical-align: super;
    font-size: 80%;
    text-decoration: none;
}

.visuallyhidden {
    display: none
}

.figure__footnotes li:target {
    animation: footer-pulse 5s;
    animation-iteration-count: 1;
}
@keyframes footer-pulse {
    0% {
      background-color: yellow;
    }
    100% {
      background-color:inherit;
    }
}

.figure__footnote-back-link {
    font-size: 85%;
}
////////////////////////////////////
//      dp-table-renderer end     //
////////////////////////////////////
