//_inputs-and-labels.scss

label {
    //Attempt to fix inputs not taking font size and family
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.label {

	&--inline {
		display: inline;
	}

	//Attempt to fix inputs not taking font size and family
    &--chart {
        font-size: 12px;
    }

}

.search-filter {

    &__form {
        padding: $col;
    }

    &__button {

        &--clear {
            @include breakpoint(lg) {
                float: right;
            }
        }

    }

}

#filters {


    input[type='text'], input[type='search'], {
        background-color: white;
        width: 100%;
        border: 1px solid $iron;
        padding: ($baseline * 2) ($col / 2);
    }

    // select {
    //     background-color: red;
    // }

}

.sort-results {

    padding: 46px 0 0 0;

}
