//_links.scss

.covid-banner {
    &__link {
        display: block;
        padding-top: $baseline;

        &:focus {
            outline: 3px solid $black;
            outline-offset: 3px;
        }

    }
}