//_lists.scss

.list {

	&--neutral {
		list-style: none;
		padding: 0;

		& > li {
			padding: 0;
		}
	}

	&--inline {
		display: inline-block;

		li {
    		display: inline-block;
    		//margin: 0 $col 0 0;
		}
	}

	&--pipe-seperated {
		list-style:none;
		display: inline;
		margin:0;
		padding:0;
		li {
			display: inline;
			padding:0;
			line-height: 24px;
			margin-right: 16px;
			&:after {
			    content: "|";
			    color: $iron;
			    position: relative;
                right: -10px;
                top: -2px;
			}
			/*span {
				color: $iron;
				padding: 0 5px 0 8px;
			}*/
		}
	}

	&--custom-numbered {
		@if $old-ie != true {
			list-style: none;
			padding:0;
			> li {
				counter-increment: step-counter;
				padding: 0;
				margin: 0;
				position: relative;
				&::before {
					content: counter(step-counter)'.';
					font-size:24px;
					font-weight:bold;
					position: absolute;
					top:0;
					left:0;
					@include breakpoint(sm) {
							font-size: 22px;
					}
				}
				// If the list contains a separate list, don't follow the ul ul style
				ul {
					list-style-type: disc;
				}
			}
		}
	}

}
