//_lists.scss

.list {

	&--neutral {
		list-style: none;
		padding: 0;

		& > li {
			padding: 0;
		}
	}

	&--inline {
		display: inline-block;

		li {
    		display: inline-block;
    		//margin: 0 $col 0 0;
		}
	}

	&--pipe-seperated {
		list-style:none;
		display: inline;
		margin:0;
		padding:0;
		li {
			display: inline;
			padding:0;
			line-height: 28px;
			span {
				color: $iron;
				padding: 0 5px 0 8px;
			}
		}
	}


}
