section {
  padding-bottom: $baseline * 6;
}

.section {

  &__title {
    margin-top: $baseline * 6;
    margin-bottom: 0;
  }

  &__subtitle {

    margin-top: $col;
    margin-bottom: $baseline;

  }

  &__content {

    &-number {

      position: relative;
      margin-left: ($col * -3);
      //padding-left: 6px;
      //width: ($col * 3);
      display: block;
      float: left;

    }

    &--markdown {
      padding: 0 0 0 ($col * 3);
      @include breakpoint(lg) {
    		margin-right: ($col * 4);
    	}

      position: relative;


      p {
        margin-top: 0;
      }

      ul {
        margin-top: 0;
      }

      img {
        width: 100%;
      }

      li {
        margin: 0;
        // padding: $baseline 0 $baseline $col;

        p {
          margin: 0;
          padding: 0;
        }

      }

      .markdown-chart-container, .markdown-table-container {
        border-left: solid $col $mercury;
        padding-left: $col;
        margin-bottom: ($baseline * 4);

          ol {
            margin-top: 0;
            counter-reset: toc;

          }

          li {
            list-style: none;
            position: relative;

            &:before {
              content: counter(toc) ". ";
              counter-increment: toc;
              position: absolute;
              left: -$col;
            }
          }

      }

    }

  }

}
