//_tables-and-data.scss
table {
	min-width: 100%;
	border-spacing: 0;
}

dl {
	margin: 0;
}

dd {
	margin: 0;
}

// Time series data table
.table-advanced {

	border-collapse: collapse;
	background-color: white;

	th {
		text-align: left;
		padding: 6px 0 10px $col;
		text-align: left;
		background-color: $iron;
	}

	tbody {

		td {
			padding: 6px 0 10px $col;
		}

		tr:not(:last-of-type) {
			border-bottom: solid 1px $iron;
		}

		tr {

			height: $baseline * 4;

			&:hover,
			&:focus {
				background-color: $abbey;
				color: white;

			}

		}

	}

	&__header {
		padding: 4px 0 4px 0;
		border-bottom: 1px solid $silver;
		margin-bottom: -1px;
	}

	.sorted {

		&-asc:after {
			@extend .icon;
			@extend .icon-arrow-up--dark-small;
			content: "";
			margin-left: $col;
		}

		&-desc:after {
			@extend .icon;
			@extend .icon-arrow-down--dark-small;
			content: "";
			margin-left: $col;
		}
	}
}