//_tables-and-data.scss
table {
  min-width: 100%;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}


// table of contents
.table-of-contents {

    &__title {
    // remove some margin
    }

    &__list {
        border-bottom: 1px solid $iron;
        padding: 0 0 ($baseline * 2) 0;
        margin-top: 15px;

        @include breakpoint(lg) {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            -ms-column-count: 2;
            column-count: 2;
        }
    }

    &__item {
        margin: 0 0 0 ($baseline * 3);
        padding: 0;
        -webkit-column-break-inside:avoid;
        -moz-column-break-inside:avoid;
        -o-column-break-inside:avoid;
        -ms-column-break-inside:avoid;
        column-break-inside:avoid;
    }

    &--sticky {

      &__wrap {
        //display: none;
        //height: 7.2rem;
        overflow: hidden;
        background: $iron-light;
        //color: $iron-light;
        border-bottom: 2px solid $iron;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        z-index: 100;

        & > .wrapper {
            padding: ($baseline * 2) 0 ($baseline * 2) ($col * 3);
        }

      }

        &__heading {
            @include breakpoint(md) {
                margin: 0 0 ($baseline) 0;
            }
        }

        &__select {
            //max-width: 100%;
        }

    }
  
}

// Timeseries page table
.tablesaw {

	th {
		text-align: left;
	}
}
