//_type.scss


//--[vars]--
$baseline: 8px;


$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 14px;
$base-line-height: $baseline * 3;
$base-font-weight: 300;
$base-text-colour: $ship-gray;

//--[vars end]--



body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	color: $base-text-colour;
}

h1 {
	font-size: 35px;
	font-weight: 300;
	line-height: 48px;
	margin: ($baseline * 6) 0;
	padding: 2px 0 6px 0;
	// background: red;
}

h2 {
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
	margin: ($baseline * 5) 0 0 0;
	    padding: 3px 0 5px 0;
	// background: red;
}

h3 {
	font-size: 21px;
	font-weight: 300;
	line-height: 24px;
	margin: ($baseline * 6) 0;
	padding: 3px 0 5px 0;
	// background: red;
}

h4 {
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	margin: ($baseline * 6) 0;
	padding: 3px 0 5px 0;
	// background: red;
}

h5 {
	//
}

h6 {
	//
}

p {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	margin: ($baseline * 2) 0;
    padding: 6px 0 10px 0;
	// background: green;
}

ul, ol {
	margin: ($baseline * 2) 0;
	padding-left: ($col * 1);
	// padding: 0 ($baseline * 2);
}

li {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	margin: ($baseline * 2) 0;
    padding: 6px 0 10px 16px;
	// background: green;
}


cite {
	//
}

a {
	text-decoration: none;
	color: $matisse;
	&:hover {
		text-decoration: underline;
	}
}
